/* @override 
	http://ss.site/addressable/css/GeocodableField.css?m=1326141087
	http://ss.site/addressable/css/GeocodableField.css?m=1326141526
	http://ss.site/addressable/css/GeocodableField.css?m=1326141965
	http://ss.site/addressable/css/GeocodableField.css?m=1326149098
*/

.geocodable label {
	font-weight: bold;
	margin-top: 4px;
}
.geocodable .middleColumn {
	background: none;
	padding: 0;
}
.geocodable .middleColumn label {
	font-weight: normal;
}
.GeocodableField {
	background: none;
}
.fieldgroupFieldGeocodableIsManuallySet {
	position: relative;
	top: 4px;
}
.fieldgroupFieldGeocodableIsManuallySet input {
	margin-right: 4px;
	position: relative;
	top: -1px;
}
.fieldgroupFieldGeocodableLat,
.fieldgroupFieldGeocodableLng {
	
}
.fieldgroupFieldGeocodableLat label,
.fieldgroupFieldGeocodableLng label {
	display: block;
	margin-bottom: 4px;
}
.fieldgroupFieldGeocodableLat {
	position: absolute;
	top: 5px;
	left: 10px;
}
.fieldgroupFieldGeocodableLng {
	position: absolute;
	top: 50px;
	left: 10px;
}
.fieldgroupFieldGeocodableMap {
	border: 1px solid #B3B3B3;
}
.fieldgroupFieldGeocodableIsManuallySetOptions {
	background: #F0F0F0;
	padding-left: 160px;
	position: relative;
	margin: 15px 0;
	opacity: 0.9;
}
.GeocodableFieldInactive .fieldgroupFieldGeocodableLat input,
.GeocodableFieldInactive .fieldgroupFieldGeocodableLng input {
	border-color: #DDD;
	color: #BBB;
}
.fieldgroupFieldGeocodableIsManuallySetHelp p {
	color: #777;
	font-size: 11px;
	width: 496px;
	margin-top: 3px;
}